
:root {
  background: black;
  ;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

main {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;

}

header {
  background: lightgray;
  padding: 1em;
  font-weight: bold;
  text-align: center;
}

h1 {
  color: rgb(22, 22, 22);
}

h2 {
  display: center;
  margin: 1em;
}

.left-column,
.right-column {
  padding: 1em;
  margin: 1em;
  flex-direction: column;
  display: flex;
  align-items: column, center;

}

.right-column {
  display: flex;
}

.login-form {
  flex-direction: column;
  align-items: column;
  margin: 1em 1em;
  padding: 2em;
  /* login-formen har dålig responsivitet*/
}

.login-form>* {
  padding: 1em;
  margin: 0.2em;
}

button:hover {
  cursor: pointer;
}

#add-channel-btn {
  padding: 0.5em 1em;
  margin: 1em;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 10px;
}

#sign-in-btn {
  padding: 0.5em 1em;
}

#sign-out-btn {
  padding: 0.5em 1em;
}

#sign-up-btn {
  padding: 0.5em 1em;
}

#send-btn {
  padding: 0.5em 1em;
}

.channel {
  text-align: center;
  margin: 1em;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 10px;
  /* flytta texten till mitten*/
}

.channel.isLocked {
  background-color: red;
  /* 🔓 framför  */
}

.channel.selected {
  border: 2px solid blue;
}

.message {
  text-align: center;
  margin: 1em;
  border: 2px solid black;
  padding: 0.5em;
  border-radius: 10px;
  /* flytta texten till mitten*/
}

.message {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.message .metadata {
  font-size: 7pt;
  align-self: flex-start;
}

.message .text {
  font-size: 15pt;
}

.message.isLocked {
  background-color: red;
  /* 🔓 framför  */
}

.input-message {}

textarea {
  width: 100%;
  border-radius: .2rem;
  color: black;
}

.channel-lock-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#selected-channel-title.locked {
  color: red
}